services:
  postgres:
    image: postgres:16
    environment:
      POSTGRES_USER: jml
      POSTGRES_PASSWORD: jmlpass
      POSTGRES_DB: jml
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  ldap:
    image: osixia/openldap:1.5.0
    environment:
      LDAP_ORGANISATION: "HybridIT Lab"
      LDAP_DOMAIN: "lab.local"
      LDAP_ADMIN_PASSWORD: "admin"
    ports:
      - "389:389"

  keycloak:
    image: quay.io/keycloak/keycloak:24.0
    command: ["start-dev"]
    environment:
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
    ports:
      - "8080:8080"

volumes:
  pgdata:
